.friendList{
    margin: 20px 0px 0px 0px;
    width: 200px;
}

.item{
  display: flex;  
  margin-bottom: 15px;
  border: 0.5px solid #E0E0E0;
  border-radius: 8px;
  align-items: center;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.avatar{
    margin: 4px 10px 4px 10px;
}

.status{
    margin-left: 10px;
    width: 5px;
    height: 5px;
    border: 2px solid green;
    border-radius: 50%;
    background: green;
}

.statusOffline{
    border: 2px solid red;
    background: red;
    border-radius: 50%;
    margin-left: 10px;
    width: 5px;
    height: 5px;
}

.name{
    font-weight: 600;
}